:root{
    --bg-color: #edf1f7;
    --font-color: #0f192f;
    --border-color: #666;
    --player1-color: #2897e7;
    --player2-color: #d02516;
    --winner-color: #19ca33;
    --draw-color: #9588a7;
}
body {
  font-family: sans-serif;
}

main{
  max-width: 50%;
  margin-left: 20rem;
  margin-right: 20rem;
}

#gameBoard {
  background-color: var(--font-color);
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: .5rem;
  margin-bottom: 1.5rem;
  max-width: 19rem;
}

#gameBoard span {
  cursor: pointer;
  background-color: var(--bg-color);
  display: grid;
  place-content: center;
  font-size: 5rem;
}

#gameBoard span.win {
  background-color: var(--winner-color);
}
