body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fbr%2Ffotos%2Fgoi%25C3%25A2nia&psig=AOvVaw0_YnFg7tHEY4U8czRhkwrh&ust=1736382099147000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIDvp8Tt5IoDFQAAAAAdAAAAABAE");
    background-size: cover;
}

h1{
    text-align: center;
    color: #000;
    font-size: 50px;
    font-family: Arial, sans-serif;
}

.Box1{
    width: 400px;
    height: 200px;
    background-color: #f00;
    border: 5px solid #000;
    border-radius: 15px;
}
.Box2{
    width: 400PX;
    height: 200px;
    background-color: #0f0;
    border: 5px solid #000;
    border-top-left-radius: 15px;
}
.Box3{
    width: 400px;
    height: 200px;
    background-color: #00f;
    border: 5px solid #000;
    border-bottom-right-radius: 15px;
}