body{
    background-image: url("FotoGoiania.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-family: Arial, sans-serif;
}

.Box1{
    width: 400px;
    height: 200px;
    background-color: #f00;
    border: 5px solid #000;
    border-radius: 15px;
}
.Box2{
    width: 400PX;
    height: 200px;
    background-color: #0f0;
    border: 5px solid #000;
    border-top-left-radius: 15px;
}
.Box3{
    width: 400px;
    height: 200px;
    background-color: #00f;
    border: 5px solid #000;
    border-bottom-right-radius: 15px;
}