* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --color-white: #fdfdfd;
  --color-black: #030303;
  --color-bright-blue: #2f8cef;
  --color-dark-blue: #0c10d9;
  --color-green: #1cb23c;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header nav{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header  a{
  text-decoration: none;
  color: var(--color-bright-blue);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
}
 



header > nav a:hover {
  text-decoration: underline;
}

/* MAIN --> Hero */

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.hero__foreground h1{
  font-size: 5rem;
  color: var(--color-dark-blue);
  margin-bottom: 1rem;
  text-shadow: 0px 3px 3px var(--color-black);
  -webkit-text-stroke: 1px var(--color-black);
}

.hero__foreground p{
  font-size: 1.5rem;
  color: var(--color-white);
  text-shadow: 0px 3px 3px var(--color-black);
  -webkit-text-stroke: 1px var(--color-black);
  margin-bottom: 1rem;
}

.hero__background-image{
  width: 100%;
  height: 110vh;
  object-fit: cover;
  z-index: -10;
  top: 0;
  position: absolute;
}

.hero__foreground a {
  background-color: var(--color-bright-blue);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid var(--color-dark-blue);
}

.hero__buttons{
  display: flex;
  gap: 2.5rem;
  flex-direction: row;
  justify-content: center;
}

.hero__foreground a:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.call-to-action{
  display: flex;
  gap: 2rem;
}

.call-to-action > a{
  background-color: var(--color-bright-blue);
  border: 2px solid var(--color-white);
  border-radius: .5rem;
  color: var(--color-white);
  padding: .75rem 1.25rem;
  text-decoration: none;
}

.call-to-action > a:hover{
  background-color: var(--color-green);
  color: var(--color-white);

}

/* FOOTER */

footer {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  position: fixed;
  right: 0;
  bottom: 0;
}

footer > nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

footer a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

footer a:hover {
  text-decoration: underline;
}