*{
    box-sizing: border-box;
    font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    margin: 0;
    padding: 0;
}

#countries {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.country{
    background-color: #dde0e9;
    margin: 1rem;
    padding: 1rem 1.5rem;
    width: 11rem;
}

.country h2{
    margin-bottom: .75rem;
    text-align: center;
}

.country img{
    width: 8rem;
    height: auto;
}

.country p{
    text-align: left;
    color: rgb(30, 33, 170);
}